body 
 {
    font-family:sans-serif;
   
  }

h1, h3 {text-align: center;
    	color: #0000CC;
    	text-decoration:underline;
  
}

h2 {
    color: #0000CC;
    text-decoration:underline;
}

ul { color: #0000CC;
    text-decoration:underline;

p
  {
    text-indent: 1.5em;
    line-height: 1,5;
  }

.dialog 
  {
   font-family:cursive;
   font-size:120%;
   color: #336633;
}
